/* Includes the Open Sans font, licensed under the SIL Open Font License */
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("/static/open-sans-light.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("/static/open-sans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("/static/open-sans-bold.ttf") format("truetype");
}

:root {
    --page-color: #ffffff;
    --button-foreground-color: #ffffff;
    --button-background-color: #005ce6;
    --active-button-color: #3385ff;
    --code-background-color: #666666;
    --code-foreground-color: #ffffff;
    --shadow: #999999;
    --active-color: #70ba2b;
    --inactive-color: #ff4d41;
    --link-color: #005ce6;
}

* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

html body {
    width: 100%;
    height: 100%;
    background-color: var(--page-color);
}

main {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

span.worker-downloads-info {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 300;
    text-align: center;
}

ul.worker-downloads {
    width: 100%;
    min-height: 256px;
    height: auto;
}

li.worker-download {
    list-style-type: none;
    width: 100%;
    height: 128px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 4px var(--shadow);
}

span.worker-download-instructions {
    display: block;
    width: 100%;
    height: 50%;
    line-height: 64px;
    text-align: center;
    font-weight: 300;
}

code.worker-download-command {
    display: block;
    margin: 8px;
    padding: 8px;
    width: calc(100% - 8px * 4);
    height: calc(50% - 8px * 4);
    background-color: var(--code-background-color);
    color: var(--code-foreground-color);
    font-family: monospace;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

ul.workers {
    position: relative;
    width: 100%;
    min-height: 512px;
    height: auto;
}

span.workers-message {
    position: absolute;
    top: calc((100% - 32px) / 2);
    left: 0%;
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    vertical-align: center;
    text-align: center;
    font-weight: 300;
}

li.worker {
    list-style-type: none;
    width: 100%;
    height: 64px;
    font-size: 0;
    box-shadow: 0px 0px 4px var(--shadow);
    margin-top: 8px;
    margin-bottom: 8px;
}

span.worker-id {
    display: inline-block;
    width: calc(50% - 16px * 2);
    height: 100%;
    line-height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    vertical-align: top;
    font-weight: 400;
}

div.worker-active {
    display: inline-block;
    margin-left: calc((25% - 32px) / 2);
    margin-right: calc((25% - 32px) / 2);
    margin-top: 24px;
    margin-bottom: 24px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

span.worker-build-state {
    display: inline-block;
    width: 25%;
    height: 100%;
    line-height: 64px;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    font-weight: 400;
}

.active {
    background-color: var(--active-color);
}

.inactive {
    background-color: var(--inactive-color);
}

button.action-button {
    width: 33%;
    height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--button-foreground-color);
    cursor: pointer;
    background-color: var(--button-background-color);
}

button.action-button:hover {
    background-color: var(--active-button-color);
}

div.spacer {
    width: 100%;
    height: 64px;
}

a {
    font-weight: inherit;
    text-decoration: none;
    color: var(--link-color);
}

img.icon {
    display: block;
    width: 256px;
    height: 256px;
    margin: auto;
}
